<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    As you add to this URDF, please be aware that both the robot and
    simulation include it. You must retain compatibility with all of
    the following launch files:

    jackal_viz/launch/view_model.launch
    jackal_gazebo/launch/jackal_world.launch
    jackal_base/launch/base.launch
  -->
  <!-- Macro to read in parameters from yaml file. -->
  <xacro:include filename="$(find butler)/robots/jackal_description/urdf/jackal.macro.xacro" />
  <xacro:macro name="jackal" params="prefix config_jackal_file" >
   <xacro:read_model_data config_jackal_file="${config_jackal_file}"/>
  


  <!-- Macros to generate standoffs for offset payload mounting. -->
  <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/standoffs.urdf.xacro" />

  <!-- This optional plate mounts both the upgraded GPS and the Velodyne 3D LIDAR. -->
  <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/bridge_plate.urdf.xacro" />

  <!-- If enabled, generate the LASER payload (by default, a SICK LMS111). -->
  <xacro:if value="${jackal_laser==1}">
    <xacro:if value="${jackal_laser_hokuyo == 1}">
      <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/hokuyo_ust10.urdf.xacro" />
      <hokuyo_ust10_mount prefix="${jackal_laser_mount}"
                          topic="${jackal_laser_topic}" />

      <joint name="${jackal_laser_mount}_laser_mount_joint" type="fixed">
        <origin xyz="${jackal_laser_offset}"
                rpy="${jackal_laser_rpy}" />
        <parent link="${jackal_laser_mount}_mount" />
        <child link="${jackal_laser_mount}_laser_mount" />
      </joint>
    </xacro:if>

    <!--xacro:unless value="$(jackal_laser_hokuyo)">
      <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/sick_lms1xx_mount.urdf.xacro" />
      <sick_lms1xx_mount prefix="$(jackal_laser_mount)"
                         topic="$(jackal_laser_topic)"/>

      <joint name="$(jackal_laser_mount)_laser_mount_joint" type="fixed">
        <origin xyz="$(jackal_laser_offset)"
                rpy="$(jackal_laser_rpy)" />
        <parent link="$(jackal_laser_mount)_mount" />
        <child link="$(jackal_laser_mount)_laser_mount" />
      </joint>
    </xacro:unless-->
  </xacro:if>

  <!-- If enabled, generate the upgraded Navsat payload (a Novatel Smart6). -->
  <xacro:if value="${jackal_navsat == 1}">
    <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/novatel_smart6.urdf.xacro" />
    <bridge_plate mount="${jackal_navsat_mount}"
                  height="${jackal_navsat_height}" />
    <novatel_smart6 prefix="${jackal_navsat_mount}"/>

    <joint name="${jackal_navsat_mount}_navsat_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${jackal_navsat_mount}_bridge" />
      <child link="${jackal_navsat_mount}_navsat" />
    </joint>
  </xacro:if>

  <!-- Common camera mounts and accessory URDFs. -->
  <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/camera_mount.urdf.xacro" />
  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_flea3.urdf.xacro" />

  <!-- If enabled, generate the flea3 camera payload with a tilt of 30 degrees. -->
  <xacro:if value="${jackal_flea3}">
    <camera_mount prefix="${jackal_flea3_mount}"
                       tilt="${jackal_flea3_tilt}"/>
    <joint name="${jackal_flea3_mount}_camera_mount_joint" type="fixed">
      <origin xyz="${jackal_flea3_offset}"
              rpy="${jackal_flea3_rpy}" />
      <parent link="${jackal_flea3_mount}_mount" />
      <child link="${jackal_flea3_mount}_camera_mount" />
    </joint>

    <pointgrey_flea3 frame="${jackal_flea3_mount}_camera" name="${jackal_flea3_name}"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="60" width="640" height="512"/>
    <joint name="${jackal_flea3_mount}_camera_bracket_joint" type="fixed">
      <origin xyz="0.020 0 0.0245" rpy="0 0 0" />
      <parent link="${jackal_flea3_mount}_camera_beam" />
      <child link="${jackal_flea3_mount}_camera" />
    </joint>
  </xacro:if>

  <!-- <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/stereo_camera_mount.urdf.xacro" /> -->
  <!-- If enabled, generates a pair of flea3 cameras for stereo vision with a tilt of 30 degrees. -->
  <!-- Disabled temporarily due to metapackage issue. -->
  <!-- <xacro:if value="$(optenv JACKAL_STEREO_FLEA3 0)">
    <stereo_camera_mount prefix="$(optenv JACKAL_FLEA3_MOUNT front)"
                       tilt="$(optenv JACKAL_FLEA3_TILT 0.5236)"/>
    <joint name="$(optenv JACKAL_FLEA3_MOUNT front)_stereo_camera_mount_joint" type="fixed">
      <origin xyz="$(optenv JACKAL_FLEA3_OFFSET 0 0 0)"
              rpy="$(optenv JACKAL_FLEA3_RPY 0 0 0)" />
      <parent link="$(optenv JACKAL_FLEA3_MOUNT front)_mount" />
      <child link="$(optenv JACKAL_FLEA3_MOUNT front)_stereo_camera_mount" />
    </joint>

    <pointgrey_flea3 frame="$(optenv JACKAL_FLEA3_MOUNT front)_left_camera" name="$(optenv JACKAL_FLEA3_LEFT_NAME front/left)"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="60" width="640" height="512"/>
    <joint name="$(optenv JACKAL_FLEA3_MOUNT front)_left_stereo_camera_bracket_joint" type="fixed">
      <origin xyz="0.015 $(optenv JACKAL_STEREO_SEPERATION 0.16) 0.0599" rpy="0 0 0" />
      <parent link="$(optenv JACKAL_FLEA3_MOUNT front)_stereo_camera_beam" />
      <child link="$(optenv JACKAL_FLEA3_MOUNT front)_left_camera" />
    </joint>

    <pointgrey_flea3 frame="$(optenv JACKAL_FLEA3_MOUNT front)_right_camera" name="$(optenv JACKAL_FLEA3_RIGHT_NAME front/right)"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="60" width="640" height="512"/>
    <joint name="$(optenv JACKAL_FLEA3_MOUNT front)_right_stereo_camera_bracket_joint" type="fixed">
      <origin xyz="0.015 -$(optenv JACKAL_STEREO_SEPERATION 0.16) 0.0599" rpy="0 0 0" />
      <parent link="$(optenv JACKAL_FLEA3_MOUNT front)_stereo_camera_beam" />
      <child link="$(optenv JACKAL_FLEA3_MOUNT front)_right_camera" />
    </joint>
  </xacro:if> -->

  <!-- If enabled, generate the bumblebee2 camera payload with a tilt of 0 degrees. -->
  <!-- <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_bumblebee2.urdf.xacro" /> -->

  <!-- If enabled, generate the bumblebee2 camera payload with a tilt of 0 degrees. -->
  <!-- Disabled temporarily due to metapackage issue. -->
  <!-- <xacro:if value="$(optenv JACKAL_BB2 0)">
    <camera_mount prefix="$(optenv JACKAL_BB2_MOUNT front)"
                        tilt="$(optenv JACKAL_BB2_TILT 0)"/>

    <joint name="$(optenv JACKAL_BB2_MOUNT front)_camera_mount_joint" type="fixed">
      <origin xyz="$(optenv JACKAL_BB2_OFFSET 0 0 0)"
              rpy="$(optenv JACKAL_BB2_RPY 0 0 0)" />
      <parent link="$(optenv JACKAL_BB2_MOUNT front)_mount" />
      <child link="$(optenv JACKAL_BB2_MOUNT front)_camera_mount" />
    </joint>

    <BB2-08S2C-38 frame="$(optenv JACKAL_BB2_MOUNT front)_camera" name="$(optenv JACKAL_BB2_NAME front)" />
    <joint name="$(optenv JACKAL_BB2_MOUNT front)_camera_bracket_joint" type="fixed">
      <origin xyz="0.007 0 0.02450" rpy="0 0 0" />
      <parent link="$(optenv JACKAL_BB2_MOUNT front)_camera_beam" />
      <child link="$(optenv JACKAL_BB2_MOUNT front)_camera" />
    </joint>
  </xacro:if> -->

  <xacro:if value="${jackal_front_accessory_fender}">
    <xacro:include filename="$(find butler)/robots/jackal_description/urdf/accessories/hokuyo_ust10.urdf.xacro" />
    <xacro:if value="${jackal_front_fender_ust10}">
        <hokuyo_ust10 prefix="front_ust10" parent_link="front_fender_accessory_link"/>
    </xacro:if>
  </xacro:if>

  <xacro:if value="${jackal_rear_accessory_fender}">
    <xacro:if value="${jackal_rear_fender_ust10}">
        <hokuyo_ust10 prefix="rear_ust10" parent_link="rear_fender_accessory_link"/>
    </xacro:if>
  </xacro:if>

  <xacro:if value="${__JACKAL_ARK_ENCLOSURE}">
    <link name="ark_enclosure_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://jackal_description/meshes/ark_enclosure.stl"/>
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>
    <joint name="ark_enclosure_joint" type="fixed">
      <parent link="mid_mount" />
      <child link="ark_enclosure_link" />
    </joint>
    <gazebo reference="ark_enclosure_link">
      <material>Gazebo/DarkGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:if>
  </xacro:macro>
</robot>
