<launch>
  <arg name="gazebo" default="false" />
  <arg name="rviz" default="false" />
  <arg name="urdf" default="$(find xacro)/xacro --inorder '$(find butler)/robots/jackal_description/urdf/jackal.urdf.xacro'"/>

  <param name="robot_description" command="$(arg urdf)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node> 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- launch gazebo/rviz if requested -->
  <node name="rviz" pkg="rviz" type="rviz" 
        args="-d $(find butler)/robots/jackal_description/rviz/model.rviz"
        if="$(eval arg('rviz'))"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_jackal"
        args="-x 0.0 -y 0.0 -z 1.5 -unpause -urdf -param robot_description -model jackal" 
        respawn="false" 
        if="$(eval arg('gazebo'))"/>


</launch>
