<!-- Useful for debugging or just viewing the kobuki model/urdf/transform. -->
<launch>
    <arg name="robot" default="kobuki"/>
    <arg name="world" default="empty_world.launch"/>
    <arg name="gazebo" default="true" />
    <arg name="rviz" default="true" />
    
    <include file="$(find gazebo_ros)/launch/$(arg world)" if="$(eval arg('gazebo'))"/>
    
    <include file="$(find butler)/robots/kobuki_description/launch/view_kobuki.launch" if="$(eval arg('robot')=='kobuki')">
        <arg name="gazebo" value="$(arg gazebo)"/>
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <include file="$(find butler)/robots/aion_r1_description/launch/view_aion_r1.launch" if="$(eval arg('robot')=='aion_r1')">
        <arg name="gazebo" value="$(arg gazebo)"/>
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <include file="$(find butler)/robots/jackal_description/launch/view_model.launch" if="$(eval arg('robot')=='jackal')">
        <arg name="gazebo" value="$(arg gazebo)"/>
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

</launch>
